---
const PROJECTS = [
    {
        title: 'Página Web GLUD, Curso GNUBIES',
        description: 'Desarrollo y liderazgo en la creación de la página web para el grupo GLUD (GNU/Linux Universidad Distrital), que sirve como plataforma educativa para el curso GNUBIES. En este proyecto, mi rol fue dirigir la implementación utilizando la metodología FDD (Feature Driven Development), coordinando el trabajo de los desarrolladores y asegurando la calidad en el desarrollo. Además, trabajé en la creación de la arquitectura del backend con FastAPI y colaboré en el diseño del frontend utilizando Astro, mejorando la accesibilidad y experiencia del usuario.',
        link: 'https://glud.org/',
        github: 'https://gitlab.com/GLUD/glud-page-2.0',
        image: 'glud.png',
        tags: ['Astro', 'FastApi']
    },
    {
        title: 'FourParks - Agenda de Estacionamiento',
        description: 'FourParks es una plataforma para la reserva de plazas de parqueadero. Me enfoqué principalmente en el desarrollo del backend utilizando Java y SpringBoot, creando una arquitectura robusta para gestionar las reservas, usuarios y la interacción con las bases de datos. También colaboré en el desarrollo del frontend, asegurando una experiencia de usuario fluida y eficiente. Además, lideré el despliegue del sistema en un entorno de producción, asegurando que la aplicación fuera accesible y estable para los usuarios finales.',
        link: 'https://fourparks.site/',
        github: 'https://github.com/CristianGT089/four-parks',
        image: 'fourparks.png',
        tags: ['Java', 'SpringBoot', 'React']
    },
]

---


<div class="flex flex-col gap-4">
    {
        PROJECTS.map(({title, image, description, tags, link}) => (
            <a href={link} class="flex flex-col items-center  rounded-lg shadow md:flex-row md:max-w-4xl border border-firstRed bg-secondDarkGray hover:bg-firstDarkGray">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-80 md:rounded-none md:rounded-s-lg" src={image} alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
                    <p class="mb-3 font-normal text-white opacity-70 text-pretty max-w-xl">{description}</p>
                    
                    <ul class="flex text-white gap-2"> <p class="text-firstRed">Herramientas:</p> 
                        {
                            tags.map(tag => (
                                <li>{tag}</li>
                            ))
                        }
                    </ul>
                </div>
            </a>
        ))
    }
</div>