---
interface Props {
    title: string;
	company: string;
	init_date: string;
	end_date: string;
	description: string;
}

const { title, company, init_date, end_date, description} = Astro.props;
---

<div class="p-5">
    
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
    <h4 class="text-firstRed">{company}</h4>
    <time class="mb-1 text-sm font-normal leading-none text-gray-500">{init_date} - {end_date}</time>
    
    <p class="mb-3 font-normal text-gray-400 text-pretty max-w-lg">{description}</p>
    
</div>